body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 10px;
}

.nigeria{
    height: 200px;
    width: 330px;
    background-color: green;
    border: 0.1px solid rgb(218, 207, 207);
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.nigeria > .white{
    height: 200px;
    background-color: white;
    width: 110px;
    position: absolute;
    margin-left: 33%;
}

.palau{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: #3b99dd;
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.palau > .circle{
    height: 130px;
    width: 130px;
    background-color: rgb(196, 155, 51);
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 60px;
}

.japan{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: white;
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.japan > .circle{
    height: 130px;
    width: 130px;
    background-color: darkred;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 100px;
}

.ukraine{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: blue;
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.ukraine > .yellow{
    height: 100px;
    width: 330px;
    background-color: darkgoldenrod;
    margin-top: 100px;

}

.latvia{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: #6B240C;
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.latvia > .middle_white{
    height: 30px;
    width: 330px;
    background-color: white;
    margin-top: 85px;

}
.peru{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(170,40,40);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.peru > .middle_white{
    height: 200px;
    width: 110px;
    background-color: white;
    margin-left: 110px;

}

.poland{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(252, 250, 250);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.poland > .half_white{
    height: 100px;
    width: 330px;
    background-color: rgb(150,40,40);
    margin-top: 100px;

}

.monaco{
    margin-right: 10px;
    height: 200px;
    width: 250px;
    background-color: rgb(150,40,40);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.monaco > .half_white{
    height: 100px;
    width: 100%;
    background-color: rgb(252, 250, 250);
    margin-top: 100px;
}

.indonesia{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(160,40,40);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.indonesia > .half_white{
    height: 100px;
    width: 100%;
    background-color: rgb(252, 250, 250);
    margin-top: 100px;
}

.austria{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(220,63,62);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.austria > .middle_white{
    height: 66px;
    width: 100%;
    background-color: rgb(252, 250, 250);
    margin-top: 70px;
}

.bangladesh{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(0,65,50);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.bangladesh > .circle{
    height: 130px;
    width: 130px;
    background-color: rgb(105, 6, 6);
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 60px;
}

.horizontal-rect{
    width: 100%;
    height: 33%;
}
.vert-rect{
    width: 25%;
    height: 100%;
}
.bahamas{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: #2991ac;
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.bahamas > .horizontal-rect{
    background-color: rgb(196, 155, 51);
    margin-top: 67px;
}
.bahamas > .left-triangle{
    width: 0;
  height: 0;
  border-left: 130px solid black;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 0px;
}

.bahrain{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(160,40,40);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}

.bahrain > .white-rect{
    width: 25%;
    height: 100%;
    background-color: white;
    
}

.bahrain > .triangle-one{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    left: 82px;
}
.bahrain > .triangle-two{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 40px;
    left: 82px;
}
.bahrain > .triangle-three{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 80px;
    left: 82px;
}
.bahrain > .triangle-four{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 120px;
    left: 82px;
}
.bahrain > .triangle-five{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 160px;
    left: 82px;
}

.finland{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(252, 252, 252);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.finland > .horizontal-rect{
    background-color: #1c509c;
    margin-top: 67px;
}
.finland > .vert-rect{
    background-color: #1c509c;
    width: 20%;
    position: absolute;
    top: 0;
    margin-left: 75px;
}

.sweden{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(41, 76, 121);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.sweden > .horizontal-rect{
    background-color: #a1941e;
    margin-top: 85px;
    height: 17%;
}
.sweden > .vert-rect{
    background-color: #a1941e;
    width: 10%;
    position: absolute;
    top: 0;
    margin-left: 85px;
}

.belgium{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(0, 0, 0);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.belgium > .vert-rect{
    background-color: #a1941e;
    margin-left: 110px;
    height: 100%;
    width: 33%;
}
.belgium > .two {
    margin-left: 220px;
    background-color: rgb(192, 19, 19);
    position: absolute;
    top: 0;
}

.switzerland{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(179, 39, 39);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.switzerland > .horizontal-rect{
    background-color: #ffffff;
    margin: 75px 0px 0px 60px;
    height: 50px;
    width: 210px;
}
.switzerland > .vert-rect{
    background-color: #fffffb;
    width: 50px;
    height: 150px;
    position: absolute;
    top: 0;
    margin: 25px 0px 0px 140px;
}

.greece{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(45, 90, 156);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.greece > .horizontal-rect{
    background-color: #ffffff;
    height: 22.22px;
    width: 210px;
    position: absolute;
    right: 0;
}
.greece > .one{
    margin-top: 22.22px;
}
.greece > .two{
    margin-top: 66.66px;
}
.greece > .three{
    margin-top: 111.10px;
    width: 100%;
}
.greece > .four{
    margin-top: 155.54px;
    width: 100%;
}
.greece > .vert-rect{
    background-color: #fffffb;
    width: 22.22px;
    height: 111.10px;
    position: absolute;
    top: 0;
    left: 49px;
}
.greece > .horiz-rect{
    background-color: #ffffff;
    height: 22.22px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 44.44px;
}

.nz-redpeak{
    margin-right: 10px;
    height: 200px;
    width: 330px;
    background-color: rgb(250, 251, 253);
    border: 0.1px solid rgb(218, 207, 207);
    display: inline-block;
    position: relative;
}
.nz-redpeak > .triangle{
    width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid rgb(145, 36, 36);
  position: absolute;
  bottom: 0;
  left: 85px;
}
.nz-redpeak > .left-triangle{
    width: 0;
    height: 0;
    border-top: 200px solid rgb(5, 5, 5);
    border-right: 165px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: 0;
}
.nz-redpeak > .right-triangle{
    width: 0;
    height: 0;
    border-top: 200px solid rgb(8, 8, 235);
    border-left: 165px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

